<% provide :title, "Settings" %>
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <h4>Settings</h4>

    <%= form_for current_user, url: profile_path do |form| %>
      <div class="form-group">
        <label>ChatWork</label>
        <% if current_user.chatwork? %>
          <%= link_to "#", class: "btn btn-block btn-outline-secondary mb-2 disabled" do %>
            <%= image_tag current_user.avatar, class: "avatar rounded-circle" %>
            <%= "#{current_user.name} [##{current_user.chatwork}]" %>
          <% end %>
        <% else %>
          <%= link_to "Connect with ChatWork", "/auth/chatwork",
            class: "btn btn-block btn-info mb-2" %>
        <% end %>
      </div>

      <div class="form-row">
        <div class="form-group col-md-8">
          <%= form.select :room_id,
            options_from_collection_for_select(Room.all, :id, :name, current_user.room_id),
            {prompt: "Please select a chat box"}, {class: "form-control"} %>
        </div>
        <div class="form-group col-md-4">
          <%= form.button "Update", type: :submit,
          class: "btn btn-block btn-primary" %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <label>Repository</label>
      <%= link_to "Manage repositories on GitHub", github_app_url,
        class: "btn btn-block btn-success mb-2" %>
      </a>
    </div>
  </div>
</div>
