<%= content_tag :tr, class: "pull-request", id: "pull-request-#{pull_request.id}" do %>
  <td class="title">
    <%= tag.span class: "state state-#{pull_request.state}" %>
    <%= tag.span pull_request.title, title: pull_request.state %>
  </td>
  <td>
    <%= link_to pull_request.html_path, pull_request.html_url, target: "_blank" %>
  </td>
  <td><%= pull_request.user_name %></td>
  <td><%= pull_request.current_reviewer %></td>
  <td>
    <%= l pull_request.created_at.in_time_zone("Hanoi") %>
  </td>
  <td>
    <%= time_tag pull_request.updated_at.in_time_zone("Hanoi"),
      class: "timeago" %>
  </td>
  <td>
    <div class="btn-group">
      <% if pull_request.state_ready? %>
        <%= button_to "Review", pull_request, method: :patch, remote: true,
          params: {pull_request: {state: :reviewing}},
          data: {disable_with: "loading"},
          class: "btn btn-sm btn-review" %>
      <% end %>

      <button type="button" class="btn btn-sm btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <% if pull_request.state_archived? %>
          <%= button_to "Unarchive", pull_request, method: :patch, remote: true,
            params: {pull_request: {state: :ready}},
            data: {disable_with: "loading"},
            class: "dropdown-item" %>
        <% else %>
          <%= button_to "Archive", pull_request, method: :patch, remote: true,
            params: {pull_request: {state: :archived}},
            data: {disable_with: "loading"},
            class: "dropdown-item" %>
        <% end %>
      </div>
    </div>
  </td>
<% end %>
