<% provide :title, "Pull requests" %>
<div class="filter">
  <form id="filter-form" data-remote="true">
    <div class="form-row">
      <div class="form-group col-md-2">
        <%= label_tag :state %>
        <%= select_tag :state, state_options, multiple: true,
          class: "form-control js-states" %>
      </div>

      <div class="form-group col-md-5">
        <%= label_tag :room %>
        <%= select_tag :room, room_options, multiple: true,
          class: "form-control js-rooms" %>
      </div>

      <div class="form-group col-md-5">
        <%= label_tag :repository %>
        <%= select_tag :repository, repository_options,
          multiple: true, class: "form-control js-repositories" %>
      </div>
    </div>
  </form>
</div>

<table class="table table-pull-request">
  <thead>
    <tr>
      <th scope="col">Subject</th>
      <th scope="col">State</th>
      <th scope="col">Owner</th>
      <th scope="col">Reviewer</th>
      <th scope="col">Created</th>
      <th scope="col">Updated</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render @pull_requests %>
  </tbody>
</table>

<div id="paginator">
  <%= paginate @pull_requests, remote: true %>
</div>
