<%= content_tag :tr, class: "pull-request", id: "pull-request-#{pull_request.id}" do %>
  <td class="title">
    <%= tag.span class: "state state-#{pull_request.state}" %>
    <%= tag.span pull_request.title, title: pull_request.state %>
  </td>
  <td>
    <%= link_to pull_request.html_path, pull_request.html_url, target: "_blank" %>
  </td>
  <td><%= pull_request.current_reviewer %></td>
  <td>
    <%= time_tag pull_request.created_at.in_time_zone("Hanoi") %>
  </td>
  <td>
    <%= time_tag pull_request.updated_at.in_time_zone("Hanoi") %>
  </td>
<% end %>
