<tr>
  <th scope="row"><%= user_counter + 1 %></th>
  <td><%= user.name %> <%= image_tag "flower.gif", size: "20x20" %></td>
  <td><%= user.room_name %></td>
  <td class="text-center font-weight-bold"><%= user.merged %></td>
</tr>
